* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #161c32;
}
.container {
  padding: 2vh 5vw;
}
/* Preloader */
#preloader {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background: white url("./Image/Fidget-spinner.gif") no-repeat center;
}
/* Preloader */
/* Header */
.header {
  
  width: 100%;
  padding: 1vh 0.7vw;
  border: 2px solid white;
  border-radius: 12px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftHeader {
  width: 10%;
  line-height: 220%;
  font-size: 1.2rem;
}
.rightheader {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1vw;
}
/* scoreContainer */
.scoreContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  text-align: center;
  background-color: white;
  color: black;
  padding: 1vh 0;
  width: 8vw;
}
.scoreContainer h1 {
  font-size: 3rem;
}
/* btnContainer */
.btnContainer {
  color: white;
  width: 55%;
  padding: 10vh 2vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 12.5vw;
  row-gap: 1vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.btnContainer button {
  border-radius: 100%;
  width: 8vw;
  height: 17vh;
  font-size: 4.5rem;
  color: #353d5d;
  outline: 1.5vw solid #4c66f7;
  outline-offset: 7px;
  outline-style: ridge;
  transition: 0.4s ease-in-out;
}
.btnContainer button:nth-last-child(1) {
  outline-color: #ce314d;
}

.btnContainer button:nth-last-child(2) {
  outline-color: #eca017;
}
.btnContainer button:hover {
  transform: scale3d(0.8, 0.8, 0.8);
}
/* Score View */
.scoreView {
  width: 100%;
  padding: 0 5vw;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  visibility: hidden;
}
.scoreView h4 {
  letter-spacing: 1.5px;
  word-spacing: 5px;
}
.choiceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 6vh;
}

.choiceContainer button {
  border-radius: 100%;
  width: 6vw;
  height: 12vh;
  font-size: 3rem;
  color: #353d5d;
  outline: 1vw solid #4c66f7;
  outline-offset: 5px;
  outline-style: ridge;
  transition: 0.4s ease-in-out;
  display: none;
}
#rockBtnChoice {
  outline-color: #4c66f7 !important;
}
#paperBtnChoice {
  outline-color: #eca017 !important;
}
#scissorBtnChoice {
  outline-color: #ce314d !important;
}
#rockCompBtnChoice {
  outline-color: #4c66f7 !important;
}
#paperCompBtnChoice {
  outline-color: #eca017 !important;
}
#scissorCompBtnChoice {
  outline-color: #ce314d !important;
}
.resultContainer {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2vh;
}

#restart {
  text-align: center;
  letter-spacing: 1px;
  color: #353d5d;
  font-weight: 800;
  font-size: 1rem;
  padding: 1.5vh 0;
  width: 10vw;
  border-radius: 12px;
  border: none;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: center;
  align-items: center;
  outline: 0.2vw solid #4c66f7;
  outline-offset: 2px;
  outline-style: ridge;
  transition: 0.7s ease-in-out;
}
#restart i {
  font-size: 1.5rem;
}

#restart:hover {
  transform: scale3d(0.8, 0.8, 0.8);
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .btnContainer button {
    width: 10vw;
  }
  .choiceContainer button {
    width: 7vw;
    height: 10vh;
    font-size: 2.5rem;
  }
  #restart {
    width: 12vw;
    padding: 0.8vh 0;
    gap: 0.5vh;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  .header {
    padding: 1vh 1.2vw;
  }
  .btnContainer button {
    width: 14vw;
  }
  .btnContainer {
    gap: 17.5vw;
    row-gap: 1vw;
  }
  .choiceContainer button {
    width: 10vw;
    height: 12vh;
  }
  #restart {
    width: 15vw;
  }
  .scoreContainer {
    width: 11vw;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .container {
    padding: 3vh 2vw;
  }
  .scoreContainer {
    width: 14vw;
  }
  .btnContainer {
    width: 70%;
    padding: 7vh 2vw;
    gap: 15vh;
    row-gap: 1vh;
  }
  .btnContainer button {
    width: 15vw;
    height: 14vh;
    font-size: 4rem;
  }
  .choiceContainer {
    width: 20%;
  }

  .choiceContainer button {
    width: 13vw;
  }
  .resultContainer h1 {
    font-size: 2.5rem;
  }
  #restart {
    width: 20vw;
  }
}
@media (min-width: 350px) and (max-width: 600px) {
  .container {
    padding: 3vh 2vw;
  }
  .header {
    padding: 1.5vh 2vw;
  }
  .scoreContainer {
    width: 20vw;
  }
  .btnContainer {
    width: 80%;
    padding: 5vh 2vw;
    gap: 15vh;
    row-gap: 1vh;
  }
  .btnContainer button {
    width: 20vw;
    height: 12vh;
    font-size: 3rem;
    outline-offset: 2px;
    outline: 2vw solid #4c66f7;
  }
  .choiceContainer {
    width: 50%;
    gap: 3vh;
  }
  .choiceContainer h4 {
    width: 70%;
  }
  .scoreView {
    position: relative;
  }
  .scoreView .resultContainer {
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .scoreView .resultContainer h1 {
    font-size: 2rem;
  }
  .choiceContainer button {
    width: 16vw;
    height: 10vh;
    font-size: 2.5rem;
    outline: 1.5vw solid #4c66f7;
    outline-offset: 2px;
  }
  #restart {
    width: 35vw;
  }
}
